
import(methods)

## importFrom(graphics, persp, abline, plot)
## importFrom(stats, mahalanobis, cor, cov, pchisq, plnorm, pnorm, qchisq, qnorm, shapiro.test, var)
importFrom("stats", "printCoefmat")

export(get.partitions,
       print.partitions,
       nlde, print.nlde,
       get.knapsack, print.knapsack,
       get.subsetsum, print.subsetsum,
       bin.packing)


S3method(print, partitions)
S3method(print, nlde)
S3method(print, knapsack)
S3method(print, subsetsum)
